* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #9090b3;
}

.container {
  width: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
